# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Environment variables file
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# VSCode settings (if applicable)
.vscode/